@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(94, 93, 93);
  /* border: thin solid rgb(94, 93, 93); */
  box-shadow: 0px 0px 3px #555454 inset;
  /* background: #eee;
  border: thin solid lightgray;
  box-shadow: 0px 0px 3px #dfdfdf inset; */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(158, 158, 158);
  /* border: thin solid rgb(63, 63, 63); */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(197, 194, 194);
}
